Last Class, we did a group activity with Dictionaries! Today we will do the same activity but with a Table!

Begin by defining you table:
Include: Names and All the Favorites categories

In [1]:
## Define your table below. Do not include your information in the tabel

Add both your information and Sasha's!

Sasha, The Avengerâ€™s Endgame, Math, Tacos, One Direction

In [2]:
## Add new values to your table! Make sure to keep them in the right order.
## Add Sasha's before yours

Access a list of all the Categories to make sure all the information is there and in order!

In [3]:
#Create list of aLL the categories

Next you are going to delete Sasha's information. It should be the second to last index!

In [4]:
## Delete Sasha's information

We are going to create a table for your final information using the same technique as the homework.

This one is a little more complicated! Run the table and adjust the current table by inserting the values you want!

Play around with this to see how you can get different Table arrangements, you can insert manually, or use lists from the Table!

In [6]:
from tabulate import tabulate

l = [["Hassan", 21, "LUMS"], ["Ali", 22, "FAST"], ["Ahmed", 23, "UET"]]
table = tabulate(l, headers=['Name', 'Age', 'University'], tablefmt='orgtbl')

print(table)

| Name   |   Age | University   |
|--------+-------+--------------|
| Hassan |    21 | LUMS         |
| Ali    |    22 | FAST         |
| Ahmed  |    23 | UET          |

Print as PDF!