## Activity 2: Dictionaries

In this module, we'll be taking a look at keys/values (+ unique keys!), indexing, differences/similarities between a dictionary and a list, adding things to dictionaries, deleting things from dictionaries, lengths, .keys(), .values(), `in`, use cases

#### Indexing

Now that we are more familiar with lists, let's try a new data type that can hold more complicated information. We will use dictionaries to hold information in pairs. In the cell below, there is a dictionary that has the names of 8 different people paired with their ages. The **keys** are the names and the **values** are the ages.

In [44]:
worker_ages = {"Bob": 45, "Delilah": 40,"Sarah": 48, "Edwin": 21, "Diana": 29, "Juan": 35, "Linda": 32, "Eric": 61}
worker_ages

{'Bob': 45,
 'Delilah': 40,
 'Diana': 29,
 'Edwin': 21,
 'Eric': 61,
 'Juan': 35,
 'Linda': 32,
 'Sarah': 48}

Let's double check the number of people in the dictionary. We can get the size of a dictionary by using `len()` just like you would to find the length of a list.

In [77]:
...   # PROMPT
# len(worker_ages) #SOLUTION

Ellipsis

Although you can check the size of a dictionary the same way as you would a list, you need a different method to access the values in a dictionary. Let's try it as you would for a list:

In [3]:
worker_ages[0]

KeyError: 0

Oh no! It did not work. For dictionaries, we must use one of the **keys** to access the corresponding **values**. Let's try this out by looking at the keys first.

In [40]:
keys_names = ...
keys_names

keys_names = worker_ages.keys() #SOLUTION
keys_names

dict_keys(['Bob', 'Delilah', 'Sarah', 'Edwin', 'Diana', 'Juan', 'Linda', 'Eric'])

`keys_names` looks like a list. Let's try to get the first item.

In [18]:
...
keys_names[0] #SOLUTION         ***WILL ERROR***

TypeError: 'dict_keys' object does not support indexing

Although it looks like a list `keys_names` is different from a list. Check the data type by using the `type()` function.

In [20]:
...
type(keys_names) #SOLUTION

dict_keys

`dict_keys` is a different object from a list, but we can convert it into a list by doing the following command: `list(<dict_keys>)`

In [41]:
list_key_names = list(keys_names)
list_key_names

['Bob', 'Delilah', 'Sarah', 'Edwin', 'Diana', 'Juan', 'Linda', 'Eric']

Now that we have a list of key values, access the first element in the list.

In [25]:
first_elem = ...
first_elem

first_elem = list_key_names[0] # SOLUTION
first_elem

'Bob'

We can use this to access the value in the dictionary. Use first_elem to get the age that corresponds to 'Bob'.

In [27]:
...
worker_ages[first_elem] # SOLUTION

45

#### Creating dictionary

Let's reorganize the data in `worker_ages`. Let's make a dictionary that has groups of years as the keys and the values are a list of all the names of people who correspond to that age group. The groups should be '20-29', '30-39', '40-49', '50-59', '60-69'. **If no one is in that age group, set it equal to an empty list.** Here is `worker_ages` for reference.

In [45]:
worker_ages

{'Bob': 45,
 'Delilah': 40,
 'Diana': 29,
 'Edwin': 21,
 'Eric': 61,
 'Juan': 35,
 'Linda': 32,
 'Sarah': 48}

In [56]:
new_wk_ages = ...
new_wk_ages

new_wk_ages = {'20-29': ['Edwin', 'Diana'], '30-39':['Linda', 'Juan'], '40-49':['Delilah', 'Bob', 'Sarah'], '50-59':[], '60-69':['Eric']} #SOLUTION
new_wk_ages #SOLUTION

{'20-29': ['Edwin', 'Diana'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': ['Eric']}

Create the variable `twenties` as a **list** of all the people in `new_wk_ages` who are between the ages of 20 and 29.

In [57]:
twenties = ...
twenties

twenties = new_wk_ages['20-29']
twenties

['Edwin', 'Diana']

#### Adding Elements

There is a new worker we want to add to the dictionary. Her names is Faith and she is 25 years old. Add her to the `new_wk_ages` dictionary. (Try to use `twenties` in your solution!)

In [58]:
...

# SOLUTION with twenties
new_wk_ages['20-29'] = twenties + ["Faith"]

# SOLUTION without twenties
# new_wk_ages['20-29'] = ['Edwin', 'Diana', 'Faith']

Double check that new_wk_ages is updated by running the cell below.

In [59]:
new_wk_ages

{'20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': ['Eric']}

There is another new employee named Sam, and he is 19 years old. Add him to the `new_wk_ages` dictionary. (Note: the company can only higher people 18 and older, so Sam falls into the age group '18-19'.

In [64]:
...
new_wk_ages['18-19'] = ['Sam'] # SOLUTION

In [65]:
new_wk_ages

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': ['Eric']}

#### Updating Dictionary

Eric is retiring, so we want to remove him from the list of workers. We can do this by updating the key '60-69'. Remove him from the `new_wk_ages` dictionary.

In [73]:
...
new_wk_ages['60-69'] = [] #SOLUTION

In [74]:
new_wk_ages

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': []}

#### Deleting Elements

Looking at the dictionary we have two keys that correspond to empty lists. Rather than keeping empty lists, let's delete pairs in the dictionary if they have empty lists. Delete the key '60-69', then the key '50-59'.

In [75]:
...
del new_wk_ages['60-69'] # SOLUTION
new_wk_ages # SOLUTION

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': []}

In [76]:
...
del new_wk_ages['50-59'] # SOLUTION
new_wk_ages # SOLUTION

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah']}

#### Checking `in` and `not in`

Let's double check whether '60-69' is **in** the keys of `new_wk_ages`. Use `in` on the dictionary.

In [79]:
... 
'60-69'in new_wk_ages # SOLUTION

False

We can also check whether '50-59' is **not in** the keys of `new_wk_ages`. Use `not in` on the dictionary.

In [80]:
...
'50-59' not in new_wk_ages

True

In [ ]:
## Problem 2: ## Problem 2: Dictionaries

keys/values (+ unique keys!), indexing, differences/similarities between a dictionary and a list, adding things to dictionaries, deleting things from dictionaries, lengths, .keys(), .values(), `in`, use cases

#### Indexing

Now that we are more familiar with lists, let's try a new data type that can hold more complicated information. We will use dictionaries to hold information in pairs. In the cell below, there is a dictionary that has the names of 8 different people paired with their ages. The **keys** are the names and the **values** are the ages.

worker_ages = {"Bob": 45, "Delilah": 40,"Sarah": 48, "Edwin": 21, "Diana": 29, "Juan": 35, "Linda": 32, "Eric": 61}
worker_ages

Let's double check the number of people in the dictionary. We can get the size of a dictionary by using `len()` just like you would to find the length of a list.

...   # PROMPT
# len(worker_ages) #SOLUTION 

Although you can check the size of a dictionary the same way as you would a list, you need a different method to access the values in a dictionary. Let's try it as you would for a list:

worker_ages[0]

Oh no! It did not work. For dictionaries, we must use one of the **keys** to access the corresponding **values**. Let's try this out by looking at the keys first.

keys_names = ...
keys_names

keys_names = worker_ages.keys() #SOLUTION
keys_names

`keys_names` looks like a list. Let's try to get the first item.

...
keys_names[0] #SOLUTION         ***WILL ERROR***

Although it looks like a list `keys_names` is different from a list. Check the data type by using the `type()` function.

...
type(keys_names) #SOLUTION

`dict_keys` is a different object from a list, but we can convert it into a list by doing the following command: `list(<dict_keys>)`

list_key_names = list(keys_names)
list_key_names

Now that we have a list of key values, access the first element in the list.

first_elem = ...
first_elem

first_elem = list_key_names[0] # SOLUTION
first_elem

We can use this to access the value in the dictionary. Use first_elem to get the age that corresponds to 'Bob'.

...
worker_ages[first_elem] # SOLUTION

#### Creating dictionary

Let's reorganize the data in `worker_ages`. Let's make a dictionary that has groups of years as the keys and the values are a list of all the names of people who correspond to that age group. The groups should be '20-29', '30-39', '40-49', '50-59', '60-69'. **If no one is in that age group, set it equal to an empty list.** Here is `worker_ages` for reference.

worker_ages

new_wk_ages = ...
new_wk_ages

new_wk_ages = {'20-29': ['Edwin', 'Diana'], '30-39':['Linda', 'Juan'], '40-49':['Delilah', 'Bob', 'Sarah'], '50-59':[], '60-69':['Eric']} #SOLUTION
new_wk_ages #SOLUTION


Create the variable `twenties` as a **list** of all the people in `new_wk_ages` who are between the ages of 20 and 29.

twenties = ...
twenties

twenties = new_wk_ages['20-29']
twenties

#### Adding Elements

There is a new worker we want to add to the dictionary. Her names is Faith and she is 25 years old. Add her to the `new_wk_ages` dictionary. (Try to use `twenties` in your solution!)

...

# SOLUTION with twenties
new_wk_ages['20-29'] = twenties + ["Faith"]

# SOLUTION without twenties
# new_wk_ages['20-29'] = ['Edwin', 'Diana', 'Faith']

Double check that new_wk_ages is updated by running the cell below.

new_wk_ages

There is another new employee named Sam, and he is 19 years old. Add him to the `new_wk_ages` dictionary. (Note: the company can only higher people 18 and older, so Sam falls into the age group '18-19'.

...
new_wk_ages['18-19'] = ['Sam'] # SOLUTION

new_wk_ages

#### Updating Dictionary

Eric is retiring, so we want to remove him from the list of workers. We can do this by updating the key '60-69'. Remove him from the `new_wk_ages` dictionary.

...
new_wk_ages['60-69'] = [] #SOLUTION

new_wk_ages

#### Deleting Elements


Looking at the dictionary we have two keys that correspond to empty lists. Rather than keeping empty lists, let's delete pairs in the dictionary if they have empty lists. Delete the key '60-69', then the key '50-59'.

...
del new_wk_ages['60-69'] # SOLUTION
new_wk_ages # SOLUTION

...
del new_wk_ages['50-59'] # SOLUTION
new_wk_ages # SOLUTION

#### Checking `in` and `not in`

Let's double check whether '60-69' is **in** the keys of `new_wk_ages`. Use `in` on the dictionary.

... 
'60-69'in new_wk_ages # SOLUTION

We can also check whether '50-59' is **not in** the keys of `new_wk_ages`. Use `not in` on the dictionary.

...
'50-59' not in new_wk_agesDictionaries