Looking for a dataset for this activity!

Potential Ideas:
- WICS data
- SNAP data
- transit data

# Activity 4: Sampling!

Topics covered:
* Logical operators 
* Conditional statements (if / else)
* Loops (for loops)
* Analysis

## Overview

We can load in the data we decide on here!

In [1]:
#from otd_util import *
#import json

#with open('data.json') as json_data:
#    data = json.load(json_data)

import pandas as pd

## Problem 1: Logical Operators

Common logical operators we will use in the course are `==`, `!=`, `>`, `>=`, `<`, `<=`. We can use these to compare individual numbers or strings! This activity will deal with WIC (Women, Infants, and Children) data. Let's consider the data on a smaller scale. Say we are looking at women in the table, who make less than $20,000 a year. We can analyze how many dependents these women have. The first woman we find in the dataset has 4 dependents.

In [16]:
first_woman_dependents = 3
first_woman_dependents

3

For women with less than $21,330 annual income, having 3 dependents means they are below the Federal poverty guidelines in California. If we wanted to check the number of `first_woman_dependents` against the guideline we could write an inequality.

In [20]:
first_woman_dependents >= 3

True

Make another variable named `second_woman_dependents`, where the second woman has 1 dependents and makes the same amount of money as the first woman. Write an inequality to check whether she would meet the Federal poverty guidelines.

In [24]:
... # PROMPT
second_woman_dependents = 1 # SOLUTION
second_woman_dependents

1

In [23]:
... # PROMPT
second_woman_dependents >= 3 # SOLUTION

False

What if we had a list of how many family members 10 different people had? Could we use the same operators? Try it out below using the list called `dependents`.

In [28]:
dependents = [1, 3, 1, 5, 6, 2, 1, 2, 3, 4] 
dependents

[1, 3, 1, 5, 6, 2, 1, 2, 3, 4]

In [30]:
dependents >= 3 #SOLUTION

## THIS WILL ERROR!!!

TypeError: '>=' not supported between instances of 'list' and 'int'

We cannot check whether the elements inside the list meet the condition of being greater than or equal to 3. What happens if we wanted to check which of the women in the list had 3 children? What if we tried the statement below? What does the result mean?

In [31]:
dependents == 3

False

**What happened above was that rather than check the elements in the list, Python checked if a list is the same as a number, which is False. This is something to keep in mind for future comparisons!**

Another place you may use logical operators is on strings. Consider the case where we have a dictionary of dependent count paired with the names of women who have that number of dependents.

In [39]:
dependents_to_women = {'1':['Jessica', 'Natasha A.'], '2': ['Whitney', 'Natasha B.'], '3': ['Danielle', 'Valerie'], '4':['Chelsea', 'Karen'], '5+':['Robin', 'Marissa']}
dependents_to_women

{'1': ['Jessica', 'Natasha A.'],
 '2': ['Whitney', 'Natasha B.'],
 '3': ['Danielle', 'Valerie'],
 '4': ['Chelsea', 'Karen'],
 '5+': ['Robin', 'Marissa']}

By looking at the dictionary we see that there are two women with the same first name. Let's compare their names with the operators. First, make a variable called `one_dep` which contains all the values from the dictionary that match the key '1'. And make another variable called `two_dep` which contains all the values for the key '2'.

In [42]:
... #PROMPT
one_dep = dependents_to_women['1'] #SOLUTION
one_dep

['Jessica', 'Natasha A.']

In [43]:
... #PROMPT
two_dep = dependents_to_women['2'] #SOLUTION
two_dep

['Whitney', 'Natasha B.']

Using these variables compare the lists below. What is the result we expect to get? Double check that this matches your logic.

In [38]:
one_dep == two_dep

False

The result is false, because it is comparing whether the two lists contain the same values. However, the first woman in both of the lists is different, so the two lists are not equal. In the next cell, make two comparisons between the second element in each of the lists. You can use any operator you want, but get one to say `True` and another to say `False`. **Note: you must use the variables you created above.**

In [49]:
... #PROMPT
# POSSIBLE SOLUTION
one_dep[1] == two_dep[1]

False

In [48]:
... # PROMPT
# POSSIBLE SOLUTION
one_dep[1] <= two_dep[1]

True

## Problem 2: Conditional Statements

We can use conditionals to further impose restrictions on what parts of our code are executed or only allow some actions to be taken when certain conditions are met! Let's review the syntax we learnt earlier. Recall that we use the **if** statement to specify what our condition should be. When this condition evaluates to true, the program will execute the block of code under that if statement. You can also choose to specify an **else** statement and provide alternate instructions for what you want the program to do if the condition evaluates to false.

In [1]:
#if (condition):
#    code to execute
# else:
#    alternate code to execute

Now, suppose we want to compare how many participants there were in the WIC program in Alabama in December 2018 vs. November 2018, and check whether this number increased or decreased.

In [3]:
alabama_december_2018 = 115036
alabama_november_2018 = 117518

#SOLUTION
if (alabama_december_2018 < alabama_november_2018):
    print("Decrease in program participants!")
else:
    print("Increase in program participants!")

Decrease in program participants!

We can also have multiple conditions that we can check for using **if** and **elif** statements! If the condition specified in the if(condition1...) statement is false, the program moves down to the elif(condition2...) statement and checks it. We can choose to have as many elif statements as needed.

In [4]:
#if (condition 1):
#    code to execute for condition 1
#elif (condiiton 2):
#    code to execute for condition 2
#elif (condition 3):
#    ....
# elif:
#    alternate code to execute if none of the conditions are met

Now suppose we want to check which state among California, Georgia, and Illinois had the largest **magnitude** of change from December 2017 to December 2018. Below, we've entered the numbers for you. Try calculating the change in number of program participants and check which state has the largest absolute change! Note that you can combine conditions using **and** if you want two or more conditions to **all** be satisfied, or **or** if **at least one** should be satisfied.

In [6]:
california_dec_2017 = 993706
california_dec_2018 = 926600

georgia_dec_2017 = 219881
georgia_dec_2018 = 199837

illinois_dec_2017 = 199365
illinois_dec_2018 = 182419

### SOLUTION ###
california_change = abs(california_dec_2018 - california_dec_2017)
georgia_change = abs(georgia_dec_2018 - georgia_dec_2017)
illinois_change = abs(illinois_dec_2018 - illinois_dec_2017)

if (california_change > georgia_change and california_change > illinois_change):
    print("California had the most change.")
elif (georgia_change > california_change and georgia_change > illinois_change):
    print("Georgia had the most change.")
else:
    # Note that this automatically means if (illinois_change > california_change and illinois_change > georgia_change)
    # Can you reason why?
    print("Illinois had the most change.")

California had the most change.

You can also choose to **nest** if-else statements. You can use this in a situation when you want different parts of the code under a particular if statement to be executed under different conditions. Can we rewrite our program from the previous part using nested if-else statements?

In [7]:
### SOLUTION ###
if (california_change > georgia_change):
    if (california_change > illinois_change):
        print("California had the most change.")
    else:
        print("Illinois had the most change.")
else:
    if (georgia_change > illinois_change):
        print("Georgia had the most change.")
    else:
        print("Illinois had the most change.")

California had the most change.

## Problem 3: Loops

Loops can help us perform the same set of actions on multiple pieces of data! We will use loops to filter data and remove pieces we don't want or modify data to make is easier for us to use.

In [5]:
#downloaded from https://catalog.data.gov/dataset/women-infants-and-children-wic-participating-and-cost-data
WIC_States_and_Tribes = Table.read_table('WIC_Participation_Per_State')
WIC_States_and_Tribes.show(3)

This table shows us the number of people enrolled in WIC by state and by Native American Tribe. Since the state counts include the Tribe counts, lets perform a function to remove all the Tribe counts in the table.

How do we tell Python which rows are Tribe counts and which are State counts? Notice that the tribe counts have a space at the beginning of the names. For example, the one of the first Tribe entries is ' Navajo Nation'. We need to constuct a filter that goes through every entry in the data table and removes ones that start with a space. We can do this using a loop.

In [ ]:
for i in WIC_States_and_Tribes: 
    name = i[0] #this is the name column of the entry
    if name[0] == ' ': #this indexes a string to get the first charecter
        WIC_States_and_Tribes.remove[i] 
        
        # OK SO I DEF DID THIS WRONG PLS FIX

Now we have all the states with their counts of people enrolled. Lets find the states with more than X number of people in WIC.

In [8]:
WIC_States_and_Tribes #ADD THE STUFF

Now lets find the states with the highest *relative* number of people recieving assistance. To do this we have to divide the number of people enrolled in WIC for every state by the state's population. In the cell below we will add the total population counts for every state to the table.

In [6]:
#https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=PEP_2018_PEPANNRES&prodType=table

In [ ]:
#make percent column
#find state with greatest percent enrolled

## Problem 4: Analysis

In [6]:
df = pd.read_csv("wic-redemption-by-county-by-participant-category-data-2010-2017.csv")[]
df

,Vendor Location,Participant Category,Year Month,Number of Participants Redeemed,Number Vouchers Redeemed,Total Cost Vouchers,Average Cost,Statewide Infant Formula Rebate,Total Cost Vouchers Adjusted,Average Cost Adjusted,State Average Cost Adjusted
0,ALAMEDA,Breastfeeding Mother,2010-01,"3,698","15,460","$218,495.54",$59.08,NaN,NaN,NaN,NaN
1,ALAMEDA,Breastfeeding Mother,2010-02,"3,674","15,292","$214,196.13",$58.30,NaN,NaN,NaN,NaN
2,ALAMEDA,Breastfeeding Mother,2010-03,"3,728","15,506","$216,654.34",$58.12,NaN,NaN,NaN,NaN
3,ALAMEDA,Breastfeeding Mother,2010-04,"3,625","15,232","$214,084.40",$59.06,NaN,NaN,NaN,NaN
4,ALAMEDA,Breastfeeding Mother,2010-05,"3,662","15,282","$214,837.02",$58.67,NaN,NaN,NaN,NaN
5,ALAMEDA,Breastfeeding Mother,2010-06,"3,703","15,519","$216,908.56",$58.58,NaN,NaN,NaN,NaN
6,ALAMEDA,Breastfeeding Mother,2010-07,"3,713","15,474","$217,068.80",$58.46,NaN,NaN,NaN,NaN
7,ALAMEDA,Breastfeeding Mother,2010-08,"3,671","15,426","$220,134.91",$59.97,NaN,NaN,NaN,NaN
8,ALAMEDA,Breastfeeding Mother,2010-09,"3,708","15,430","$221,551.59",$59.75,NaN,NaN,NaN,NaN
9,ALAMEDA,Breastfeeding Mother,2010-10,"3,703","15,308","$223,835.18",$60.45,NaN,NaN,NaN,NaN
10,ALAMEDA,Breastfeeding Mother,2010-11,"3,589","14,959","$222,422.92",$61.97,NaN,NaN,NaN,NaN
11,ALAMEDA,Breastfeeding Mother,2010-12,"3,546","14,617","$219,393.46",$61.87,NaN,NaN,NaN,NaN
12,ALAMEDA,Breastfeeding Mother,2011-01,"3,533","14,643","$221,014.83",$62.56,NaN,NaN,NaN,NaN
13,ALAMEDA,Breastfeeding Mother,2011-02,"3,470","14,467","$222,926.07",$64.24,NaN,NaN,NaN,NaN
14,ALAMEDA,Breastfeeding Mother,2011-03,"3,479","14,424","$225,597.38",$64.85,NaN,NaN,NaN,NaN
15,ALAMEDA,Breastfeeding Mother,2011-04,"3,550","14,679","$230,105.72",$64.82,NaN,NaN,NaN,NaN
16,ALAMEDA,Breastfeeding Mother,2011-05,"3,485","14,319","$224,667.78",$64.47,NaN,NaN,NaN,NaN
17,ALAMEDA,Breastfeeding Mother,2011-06,"3,553","14,811","$232,569.08",$65.46,NaN,NaN,NaN,NaN
18,ALAMEDA,Breastfeeding Mother,2011-07,"3,528","14,534","$232,616.16",$65.93,NaN,NaN,NaN,NaN
19,ALAMEDA,Breastfeeding Mother,2011-08,"3,561","14,688","$240,474.51",$67.53,NaN,NaN,NaN,NaN
20,ALAMEDA,Breastfeeding Mother,2011-09,"3,582","14,929","$243,966.90",$68.11,NaN,NaN,NaN,NaN
21,ALAMEDA,Breastfeeding Mother,2011-10,"3,580","14,763","$246,615.48",$68.89,NaN,NaN,NaN,NaN
22,ALAMEDA,Breastfeeding Mother,2011-11,"3,621","14,961","$249,539.92",$68.91,NaN,NaN,NaN,NaN
23,ALAMEDA,Breastfeeding Mother,2011-12,"3,643","14,913","$246,423.08",$67.64,NaN,NaN,NaN,NaN
24,ALAMEDA,Breastfeeding Mother,2012-01,"3,681","15,080","$248,555.37",$67.52,NaN,NaN,NaN,NaN
25,ALAMEDA,Breastfeeding Mother,2012-02,"3,647","15,034","$243,885.59",$66.87,NaN,NaN,NaN,NaN
26,ALAMEDA,Breastfeeding Mother,2012-03,"3,631","14,812","$241,945.08",$66.63,NaN,NaN,NaN,NaN
27,ALAMEDA,Breastfeeding Mother,2012-04,"3,639","15,039","$245,497.64",$67.46,NaN,NaN,NaN,NaN
28,ALAMEDA,Breastfeeding Mother,2012-05,"3,577","14,615","$225,010.65",$62.90,NaN,NaN,NaN,NaN
29,ALAMEDA,Breastfeeding Mother,2012-06,"3,588","14,870","$215,788.34",$60.14,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
30065,YUBA,Child,2012,4457,178246,"$2,119,328.98",$475.51,NaN,NaN,NaN,NaN
30066,YUBA,Child,2013,4242,170968,"$2,008,934.14",$473.58,NaN,NaN,NaN,NaN
30067,YUBA,Child,2014,4151,166076,"$2,078,476.72",$500.72,NaN,NaN,NaN,NaN
30068,YUBA,Child,2015,3974,148870,"$1,868,833.88",$470.27,NaN,NaN,NaN,NaN
30069,YUBA,Child,2016,3694,138420,"$1,715,301.96",$464.35,NaN,NaN,NaN,NaN
30070,YUBA,Child,2017,3618,136426,"$1,725,871.02",$477.02,NaN,NaN,NaN,NaN
30071,YUBA,Infant,2010,1972,37754,"$1,696,975.68",$860.54,NaN,NaN,NaN,NaN
30072,YUBA,Infant,2011,1972,37394,"$1,856,331.88",$941.34,NaN,NaN,NaN,NaN
30073,YUBA,Infant,2012,1869,35496,"$1,788,163.30",$956.75,NaN,NaN,NaN,NaN
30074,YUBA,Infant,2013,1803,34964,"$1,800,020.40",$998.35,NaN,NaN,NaN,NaN
30075,YUBA,Infant,2014,1839,33728,"$1,758,117.56",$956.02,NaN,NaN,NaN,NaN
30076,YUBA,Infant,2015,1790,33884,"$1,677,186.94",$936.98,NaN,NaN,NaN,NaN
30077,YUBA,Infant,2016,1782,33338,"$1,667,177.40",$935.57,NaN,NaN,NaN,NaN
30078,YUBA,Infant,2017,1739,34160,"$1,745,359.10","$1,003.66",NaN,NaN,NaN,NaN
30079,YUBA,Non-Breastfeeding Mother,2010,958,13732,"$181,571.46",$189.53,NaN,NaN,NaN,NaN
30080,YUBA,Non-Breastfeeding Mother,2011,1000,14162,"$197,137.16",$197.14,NaN,NaN,NaN,NaN
30081,YUBA,Non-Breastfeeding Mother,2012,905,13344,"$185,304.34",$204.76,NaN,NaN,NaN,NaN
30082,YUBA,Non-Breastfeeding Mother,2013,877,12664,"$171,541.14",$195.60,NaN,NaN,NaN,NaN
30083,YUBA,Non-Breastfeeding Mother,2014,855,12482,"$177,709.26",$207.85,NaN,NaN,NaN,NaN
30084,YUBA,Non-Breastfeeding Mother,2015,789,10444,"$146,831.20",$186.10,NaN,NaN,NaN,NaN
30085,YUBA,Non-Breastfeeding Mother,2016,766,10554,"$146,320.86",$191.02,NaN,NaN,NaN,NaN
30086,YUBA,Non-Breastfeeding Mother,2017,729,9998,"$142,536.76",$195.52,NaN,NaN,NaN,NaN
30087,YUBA,Prenatal,2010,1484,36526,"$464,186.50",$312.79,NaN,NaN,NaN,NaN
30088,YUBA,Prenatal,2011,1368,33178,"$449,330.64",$328.46,NaN,NaN,NaN,NaN
30089,YUBA,Prenatal,2012,1354,32774,"$440,648.60",$325.44,NaN,NaN,NaN,NaN
30090,YUBA,Prenatal,2013,1329,31316,"$418,197.68",$314.67,NaN,NaN,NaN,NaN
30091,YUBA,Prenatal,2014,1311,30530,"$430,080.72",$328.06,NaN,NaN,NaN,NaN
30092,YUBA,Prenatal,2015,1240,26572,"$366,164.44",$295.29,NaN,NaN,NaN,NaN
30093,YUBA,Prenatal,2016,1169,25530,"$350,848.36",$300.13,NaN,NaN,NaN,NaN
30094,YUBA,Prenatal,2017,1054,21998,"$307,023.62",$291.29,NaN,NaN,NaN,NaN