Categories of data that we want to collect from students:
* Age
* Birth month
* Hair color
* Height
* Favorite color
* Favorite class
* Favorite fast food restaurant

# Activity 2: Data!

Topics covered:
* Lists
* Dictionaries
* Tables
* Functions / data manipulation
* Visualization through prewritten plotting functions
* Importance of + basic overview of probability through data!

## Overview

What we're going to be doing in the activity; also make sure to add conceptual overviews as we test a new concept.

In [1]:
from otd_util import *
import json

with open('data.json') as json_data:
    data = json.load(json_data)

## Problem 1: Lists 
(Overview: indexing,  accessing + changing, slicing, storing different data types in one list, adding things to lists, deleting items, `in`)

Let's look at the data we have about birth months to practice with lists. The data is a list of integers that range from 1 to 12 which corresponds to the 12 months in a year.

In [41]:
# pre-data so that they can practice adding to a list
birth_months = [1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4]        
print(birth_months)

[1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4]

Let's check how many birth months are in the list. Replace ... with a function!

In [42]:
...(birth_months)

30

#### Indexing

Now that we know how many elements there are in the list. Let's look at three different elements from the entire list. Let's get the first, sixth, and tenth elements from `birth_months`.

In [43]:
first_element = ...   # PROMPT
first_element

1

In [44]:
sixth_element = ...   # PROMPT
sixth_element

7

In [45]:
tenth_element = ...   # PROMPT
tenth_element

11

#### List Slicing

Rather than looking at all 30 birth months, let's look at the first 15 elements and second 15 elements separately. Create two new lists. Create `first_half` which should contain the first 15 elements and `second_half` should contain the last 15 elements. (The last line is to double check the number of elements in your new lists!)

In [46]:
first_half = ...   # PROMPT
len(first_half)

15

In [47]:
second_half = ...   # PROMPT
len(second_half)

15

#### Changing Elements

Let's say someone mistyped their birth month and we want to change their number in the list. We can change the value of an element if we know the index. Say the first person was actually born in November (11) rather than January (1), we can change that by using brackets.

In [48]:
print(birth_months)

[1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4]

In [49]:
birth_months[0] = 11
print(birth_months)

[11, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4]

#### Adding Elements

Let's add your birth month to the list. To add a new value to the list, we will use the `.append` method. Use the variable `my_month` when you append! Check that you added your birth month by looking at the length of the list.

In [50]:
my_month = ... # PROMPT
my_month

In [51]:
...    # PROMPT
print(birth_months)

[11, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4, 11]

In [52]:
len(birth_months)

31

Two of your friends add their birth months to the list! However, they did not know you wanted the month as a integer, and they added the month as a string.

In [53]:
birth_months.extend(["September", "February"])
print(birth_months)

[11, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4, 11, 'September', 'February']

Let's change their answers so that the list only contains integers! HINT: If you are confused to start, then first figure out the index of these two elements.

In [54]:
# Change 'September' to 9
 ...     # PROMPT 
print(birth_months)

In [56]:
# Change 'February' to 2
...     # PROMPT 
print(birth_months)

#### Deleting Elements

What if instead of changing each string individually we wanted to change them at the same time? We could delete the strings, and add the two integers we want to the list. Let's try this method instead! Here is the list as it was after your friends added to it.

In [58]:
birth_months = [1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4, my_month, "September", "February"]        
print(birth_months)

[1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4, 11, 'September', 'February']

In [59]:
# Delete the two strings in this cell.
...     # PROMPT

print(birth_months)

[1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4, 11]

In [60]:
# Add the two integer versions of the months in this cell.
...    # PROMPT

print(birth_months)

[1, 12, 2, 2, 3, 7, 9, 10, 1, 11, 4, 8, 6, 5, 12, 4, 9, 7, 3, 10, 1, 8, 5, 6, 11, 10, 7, 3, 9, 4, 11, 9, 2]

Congratulations! The list should contain only numbers again! Let's check out what is and what is not inside the list with the method `in`! Using `in` we can learn whether a value is inside the list. `in` returns `True` or `False`.

In [61]:
'September' in birth_months

False

In [62]:
1 in birth_months

True

In [63]:
0 in birth_months

False

In [64]:
# Check that your birth month appears at least once in the list
...   # PROMPT

True

## Problem 2: Dictionaries

keys/values (+ unique keys!), indexing, differences/similarities between a dictionary and a list, adding things to dictionaries, deleting things from dictionaries, lengths, .keys(), .values(), `in`, use cases

#### Indexing

Now that we are more familiar with lists, let's try a new data type that can hold more complicated information. We will use dictionaries to hold information in pairs. In the cell below, there is a dictionary that has the names of 8 different people paired with their ages. The **keys** are the names and the **values** are the ages.

In [44]:
worker_ages = {"Bob": 45, "Delilah": 40,"Sarah": 48, "Edwin": 21, "Diana": 29, "Juan": 35, "Linda": 32, "Eric": 61}
worker_ages

{'Bob': 45,
 'Delilah': 40,
 'Diana': 29,
 'Edwin': 21,
 'Eric': 61,
 'Juan': 35,
 'Linda': 32,
 'Sarah': 48}

Let's double check the number of people in the dictionary. We can get the size of a dictionary by using `len()` just like you would to find the length of a list.

In [77]:
...   # PROMPT

Ellipsis

Although you can check the size of a dictionary the same way as you would a list, you need a different method to access the values in a dictionary. Let's try it as you would for a list:

In [3]:
worker_ages[0]

KeyError: 0

Oh no! It did not work. For dictionaries, we must use one of the **keys** to access the corresponding **values**. Let's try this out by looking at the keys first.

In [40]:
keys_names = ...
keys_names

dict_keys(['Bob', 'Delilah', 'Sarah', 'Edwin', 'Diana', 'Juan', 'Linda', 'Eric'])

`keys_names` looks like a list. Let's try to get the first item.

In [18]:
... #Prompt

TypeError: 'dict_keys' object does not support indexing

Although it looks like a list `keys_names` is different from a list. Check the data type by using the `type()` function.

In [20]:
... #Prompt

dict_keys

`dict_keys` is a different object from a list, but we can convert it into a list by doing the following command: `list(<dict_keys>)`

In [41]:
list_key_names = list(keys_names)
list_key_names

['Bob', 'Delilah', 'Sarah', 'Edwin', 'Diana', 'Juan', 'Linda', 'Eric']

Now that we have a list of key values, access the first element in the list.

In [25]:
first_elem = ...
first_elem

'Bob'

We can use this to access the value in the dictionary. Use first_elem to get the age that corresponds to 'Bob'.

In [27]:
...

45

#### Creating dictionary

Let's reorganize the data in `worker_ages`. Let's make a dictionary that has groups of years as the keys and the values are a list of all the names of people who correspond to that age group. The groups should be '20-29', '30-39', '40-49', '50-59', '60-69'. **If no one is in that age group, set it equal to an empty list.** Here is `worker_ages` for reference.

In [45]:
worker_ages

{'Bob': 45,
 'Delilah': 40,
 'Diana': 29,
 'Edwin': 21,
 'Eric': 61,
 'Juan': 35,
 'Linda': 32,
 'Sarah': 48}

In [56]:
new_wk_ages = ...
new_wk_ages

{'20-29': ['Edwin', 'Diana'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': ['Eric']}

Create the variable `twenties` as a **list** of all the people in `new_wk_ages` who are between the ages of 20 and 29.

In [57]:
twenties = ...
twenties

['Edwin', 'Diana']

#### Adding Elements

There is a new worker we want to add to the dictionary. Her names is Faith and she is 25 years old. Add her to the `new_wk_ages` dictionary. (Try to use `twenties` in your solution!)

In [58]:
...

Double check that new_wk_ages is updated by running the cell below.

In [59]:
new_wk_ages

{'20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': ['Eric']}

There is another new employee named Sam, and he is 19 years old. Add him to the `new_wk_ages` dictionary. (Note: the company can only higher people 18 and older, so Sam falls into the age group '18-19'.

In [64]:
...

In [65]:
new_wk_ages

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': ['Eric']}

#### Updating Dictionary

Eric is retiring, so we want to remove him from the list of workers. We can do this by updating the key '60-69'. Remove him from the `new_wk_ages` dictionary.

In [73]:
... #Prompt

In [74]:
new_wk_ages

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': [],
 '60-69': []}

#### Deleting Elements

Looking at the dictionary we have two keys that correspond to empty lists. Rather than keeping empty lists, let's delete pairs in the dictionary if they have empty lists. Delete the key '60-69', then the key '50-59'.

In [75]:
... #Prompt

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah'],
 '50-59': []}

In [76]:
... #Prompt

{'18-19': ['Sam'],
 '20-29': ['Edwin', 'Diana', 'Faith'],
 '30-39': ['Linda', 'Juan'],
 '40-49': ['Delilah', 'Bob', 'Sarah']}

#### Checking `in` and `not in`

Let's double check whether '60-69' is **in** the keys of `new_wk_ages`. Use `in` on the dictionary.

In [79]:
... #Prompt

False

We can also check whether '50-59' is **not in** the keys of `new_wk_ages`. Use `not in` on the dictionary.

In [80]:
... #Prompt

True

## Problem 3: Tables

logical basis of using tables, representation, dictionaries as tables, rows having indices, adding to a table

Sometimes, it's helpful to organize data differently! One way to do this is a **table**. With tables, you can organize things in **rows** and **columns**. Rows denote a single piece of data, while columns denote specific characteristics. For example, we collected some data from you! It's stored in `data`. Run the following cell to see what that data might look like:

In [66]:
visualize_table(data)

   Age Birth Month Hair Color  Height Favorite Color Favorite Class  \
0   13    November      black      60           blue        English
1   15     January      brown      67           teal           Math
2   14    February     blonde      59         purple           Math
3   15        July      black      65          green        History
4   14    November      black      58           pink        Physics
5   16       April      brown      63            red        English
6   13         May        red      60          black           Math

  Favorite Fast Food
0           In-N-Out
1          Taco Bell
2         McDonald's
3         McDonald's
4           In-N-Out
5           In-N-Out
6             Subway

But what, exactly, is `data`? How are we creating this table?

One way to create a table is using lists and dictionaries!

For example, we can think of each column as a list of data. The position of an item in the list denotes what row it belongs to: if an item is at the 0th index, it is in row 0!

For example, the list of favorite colors from the table above would look like `[blue, teal, purple, green, pink, red, black]`.

Then we can say that each table is a *collection of columns*. We can put these columns together by putting them in a dictionary where each key is a column name and each value is the list that represents that column.

Let's take a look at what the table we visualized above looks like in its normal form:

In [67]:
data

{'Age': [13, 15, 14, 15, 14, 16, 13],
 'Birth Month': ['November',
  'January',
  'February',
  'July',
  'November',
  'April',
  'May'],
 'Hair Color': ['black', 'brown', 'blonde', 'black', 'black', 'brown', 'red'],
 'Height': [60, 67, 59, 65, 58, 63, 60],
 'Favorite Color': ['blue', 'teal', 'purple', 'green', 'pink', 'red', 'black'],
 'Favorite Class': ['English',
  'Math',
  'Math',
  'History',
  'Physics',
  'English',
  'Math'],
 'Favorite Fast Food': ['In-N-Out',
  'Taco Bell',
  "McDonald's",
  "McDonald's",
  'In-N-Out',
  'In-N-Out',
  'Subway']}

To get a column out of this table, we can do what we do with any dictionary: key by column name!

For example, to get the favorite color, we can do `data['Favorite Color']` (note: `Favorite Color` is a string, so we need to put quotes around it when we're indexing by it!).

How can you get the list of favorite fast foods out of `data`? Set `fast_foods` equal to the list corresponding to the favorite fast foods.

In [68]:
fast_foods = ...
fast_foods

What if you wanted to get the restaurant `Subway` out of the `fast_foods`?

In [69]:
subway = ...
subway

Now, try writing one line of code to get the string `History` out of this table!

In [70]:
history = ...
history

## Problem 4: Data Manipulation

`.map`, writing functions to add rows / delete rows from tables, changing a specific value, `.index` 

```
table = {'Name': ['Sally', 'Amanda', 'Peony'], 'Age': [13, 14, 15]}
names = table['Name']
amanda = names.index('Amanda')
table['Age'][amanda] = 15
```

or just teach for loops because map is hard - Ankitha


finding average of ages

We have a table full of data we collected from you! We've loaded it into this file as `data`. Let's see how it looks:

In [71]:
visualize_table(data)

   Age Birth Month Hair Color  Height Favorite Color Favorite Class  \
0   13    November      black      60           blue        English
1   15     January      brown      67           teal           Math
2   14    February     blonde      59         purple           Math
3   15        July      black      65          green        History
4   14    November      black      58           pink        Physics
5   16       April      brown      63            red        English
6   13         May        red      60          black           Math

  Favorite Fast Food
0           In-N-Out
1          Taco Bell
2         McDonald's
3         McDonald's
4           In-N-Out
5           In-N-Out
6             Subway

What if we wanted to find the average age in this table? How would we do that?

First, let's isolate the ages:

In [72]:
ages = data['Age']
ages

[13, 15, 14, 15, 14, 16, 13]

Now that we have the ages, how can we take the average? Remember, the average is just the `sum` of a set of numbers over the number of elements! We have some handy list functions that will give us these values: `sum` and `len`. Let's try using them:

In [73]:
average_age = ... # Your code here
average_age

Now, what if we wanted to find the value of a specific cell in a table? For example, let's take the following table of names and ages:

In [74]:
table = {'Name': ['Sally', 'Amanda', 'Peony'], 'Age': [13, 14, 15]}
visualize_table(table)

     Name  Age
0   Sally   13
1  Amanda   14
2   Peony   15

What if we wanted to find Amanda's age? We can use the `index` function, which will find the index of the first element that matches a value. Or, more simply, if we give `index` the word 'Amanda' and a list, it will tell you the position Amanda is in! This is also Amanda's row, which we can then use on the `Age` column.

To see this in action, look at this piece of code:

In [75]:
names = table['Name']
amanda = names.index('Amanda')
table['Age'][amanda]

14

Now, try it yourself! Set `food` to the fast food restaurant that the person whose favorite color is teal likes to go to.

In [76]:
# Your code here!
...
food = ...

You're all done! This was indeed a pretty long notebook, so congratulate yourself!