In [ ]:
# Note: you don't need to know what this cell does! We're simply providing you with some functions you can use to look at tables.
from otd_util import *
import json

with open('data.json') as json_data:
    data = json.load(json_data)

# Group Activity

Today, we're going to create a table!

Begin by defining a table; include the following columns: "Names", "Movie", "Subject", "Food", "Musician". Don't add any information yet, though!

In [ ]:
# Define your table below. Do not include your information in the table
table = {
    ... # Your code here!
}

Add both your information and Sasha's! Sasha's is below.

`Sasha, 19, The Avengerâ€™s Endgame, Math, Tacos, One Direction, 10`

In [ ]:
# Add new values to your table! Make sure to keep them in the right order.
# Add Sasha's before yours
table['Names'] = ...
table['Ages'] = ...
table['Movie'] = ...
table['Subject'] = ...
... # Fill in the code for the other columns as well!

Access a list of all the categories to make sure all the information is there and in order!

In [ ]:
# Create list of all the categories
categories = ...

Next you are going to delete Sasha's information. It should be the second to last index!

In [ ]:
# Delete Sasha's information from the table
...

Now, let's take a look at the table!

In [ ]:
visualize_table(table)

Let's try graphing some categories to see if we find any patterns in the data!

You have access to four functions:

* `scatter` takes in three arguments; the first should always be a table, and the other two should be the names of columns you want to compare as `x` and `y`. It then produces a scatter plot of them.
* `line` takes in three arguments; the first should always be a table, and the other two should be the names of columns you want to compare as `x` and `y`. It then produces a line plot of them.
* `bar` takes in three arguments; the first should always be a table, and the other two should be the names of columns you want to compare as `x` and `y`. It then produces a bar chart of them.
* `histogram` takes in three arguments; the first should always be a table, and the other two should be the name of the column you would like to produce a histogram of and (optionally) the number of bins you would like to use, and produces a histogram of that column's values.

In [ ]:
histogram(table, 'Subject')

In [ ]:
scatter(table, 'Age', 'Shoe Size')

Now, try making your own graphs!