# Module 1 Activity: Intro to Data Science

Welcome to Class 2! Today, we'll be going over an introduction to Jupyter Notebooks, programming, and Python. Let's get started!

## What is a Jupyter Notebook?
This interface is called a Jupyter Notebook. It's an interactive environment which can contain code cells, Markdown (text) cells, and can display the outputs of aforementioned code cells. We'll be using Jupyter Notebooks to write code and create visualizations.

## Navigating a Jupyter Notebook

**Running a Cell**

You can run a cell by pressing `Shift + Enter`, or by clicking on the play/run button in the toolbar.

**Inserting Cells**

In order to insert a new cell, you can press the `+` button in the toolbar, or you can go to Insert, and choose whether to insert a cell above or below. Alternatively, you can pres `esc` + `A` to insert a cell above, or `esc` + `B` to insert a cell below.

**Deleting Cells**

To delete a cell, select anywhere in the cell and click the scissors icon in the toolbar. You can also press `esc` + `X` to delete a cell.

**Formatting Cells**

You can change between a code cell and a markdown cell by choosing from the dropdown in the toolbar, or pressing `esc` + `Y` for code, or `esc` + `M` for markdown.

## Intro to Cell Types

This is a Markdown cell. It contains text, and some formatting as well.

Below, we have a code cell. It contains python code `print('hi')`, as well as a comment. The comment begins with a pound symbol `#`, and tells the computer to ignore the words that follow.

In [1]:
# This is a code cell. It can contain code written in python
print('hi')

hi

The output of a code cell is displayed directly beneath the cell. In the cell above, the output is the text `hi`.

## Intro to Data Types

There are various different types of data types in python and other coding languages. Some of the more common ones include the following:

- String, commonly represented as `str` - text typically enclosed in single quotes `'` or double quotes `"`
- Integer, commonly represented as `int` - whole numbers, such as `1`, `-2`, `100`, or `5000`
- Float - numbers that may include decimals, such as `3.14` or `-5823.1`
- Boolean - commonly represented as `bool` - a truthy value - may be `True` or `False`

Run the following cells to see examples of different data types.

In [2]:
string = 'Hello'
print(string)

Hello

In [3]:
integer = 0
print(integer)

0

In [4]:
float_ = 3.14
print(float_)

3.14

In [5]:
boolean = True
print(boolean)

True

Sometimes, you may have a value and not know what data type it is. This may happen when the variable is defined by someone else, or you are looking at a dataset from some datasource. In these cases, the `type()` command can be useful. This is known as a *function*, where we can pass an argument to see an output value. We'll discuss functions in more depth in a bit. 

You can pass in values to the `type()` command to see what data type a value is. See the examples below.

In [6]:
type(1)

int

In [7]:
type(1.0)

float

In [8]:
type('1')

str

In [9]:
type(False)

bool

Sometimes, you have may have a number represented as a string, such as above with `'1'`. In this case, you may want to convert the string value to an integer. This is a common problem that you may run into with different datasets.

Luckily for us, there is a simple way to convert the datatype of a value. This is called *casting*. We can wrap the value we want to cast with the keyword representing the datatype we want to convert to. We can use `int()`, `float()`, and `str()`. Keep in mind that this will only work provided that the value we are casting represents a value of the type we are casting to. For example, we can't cast the string `'hi'` to an integer, because it doesn't represent an integer.

In the following cells, we walk through some examples.

In [10]:
# string to integer - notice the absence of quotes in the output
int('1')

1

In [11]:
# float to string - notice the quotes in the output
str(1.0)

'1.0'

## Intro to Variables
Oftentimes, we want to save a value in order to reference it later. We can do this by storing a value in a variable. We can give variables any type of name that we want, but for clarity, it's best to give them a name that makes sense. For our purposes, we'll use simple names like `x`, but in the real world, you may want to use ones like `num_dogs` or `count`.

In order to create a variable, we can just assign a value to it. See the cell below for an example - we are creating a variable called `x`, and assigning it the value 10.

In [12]:
x = 10

Now, instead of typing 10, we can just type `x` and see the value 10!

In [13]:
x

10

We can use our variable `x` just like we can use the number 10 - we can add to it, subtract from it, divide by it, etc.

In [14]:
x - 5

5

In [15]:
x / 5

2.0

Let's say that now we want to change our variable `x` to 20 instead. It's as simple as re-assigning our variable `x` to the value 20. Be aware that this is the case in Python, but other programming languages have different conventions and rules for re-assigning variables.

In [16]:
x = 20

In [17]:
x

20

## Print Statements
If you were paying attention in the first few code cells, we used a command called `print()`. Print statements allow us to display values that we have created. You may wonder why we need print statements when outputs of the cell are displayed - only the last statement in the cell is displayed. For example, we can create another variable `y`, and have our cell output the value of `y` even though we have `x` in our cell as well.

In [18]:
y = 5

x

y

5

Notice that we still have our value of 20 stored in our variable `x`!

In [19]:
x

20

Let's say that we wanted our cell to output both the value of `x` and the value of `y`. This is where print statements come in handy - simply place the value or variable that you want to print in between the parentheses, and it will be output from the cell.

In [20]:
print(x)

20

In [21]:
print(y)

5

In [22]:
print(x)
print(y)

20
5

## Intro to Functions
So far, we have used the functions `type()` and `print()`, and these are what we call 'built-in functions'. As a programmer, you can create your own functions as well. The main parts of a function include the definition or `def` statement and the `return` statement. In the `def` statement, we give our function a name and specify the arguments. We've defined a simple function below, and we'll walk through each part of it.

In [23]:
def fun(a):
    return a

This is a simple function - it is called `fun`, and takes in a single argument, `a`. In order to call our function, we simply type `fun` with whatever argument we want passed in. `a` is a placeholder for an argument that we provide - it can be anything, and whatever it is, the function will simply return that value. See below for example usage.

In [24]:
fun(1)

1

In [25]:
fun(3.14)

3.14

In [26]:
fun(x)

20

In [27]:
fun('run')

'run'

Your turn! In the cell below, try passing an argument to the `fun` function.

In [28]:
# try your code here

Functions can have 0, 1, or multiple arguments. Our `fun` funciton includes one, and below we'll show functions with 0 and 2 arguments.

In [29]:
def no_args():
    return 'Argh!'

In [30]:
no_args()

'Argh!'

In [31]:
def add(a, b):
    return a + b

In [32]:
add(1, 2)

3

Now, try it on your own! See if you can write a function that returns your name. If you want a challenge, see if you can create a function that prints out `'Hello <name>'`. You can add strings together - but beware of spacing!

In [33]:
print('Hello ' + 'OTD!')

Hello OTD!

Use the cell below to try to write your own functions!

In [34]:
# your code here