# Module 6: Pandas, Visualization
### NBA Tweets Exploration

Dataset: https://www.kaggle.com/mcdonalds/nutrition-facts

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
locations = pd.read_csv("nbatweets/locations.csv")
locations.head()

   Unnamed: 0         lon        lat
0           1  121.171039  14.996784
1           2  -77.094709  38.984652
2           3   -3.703790  40.416775
3           8  -83.753428   9.748917
4          11  -77.066923  39.153163

In [16]:
tweets = pd.read_csv("nbatweets/TweetsNBA.csv", encoding = "ISO-8859-1")
tweets.head()

,Unnamed: 0,text,retweet_count,favorite_count,favorited,truncated,id_str,in_reply_to_screen_name,source,retweeted,...,place_type,full_name,place_name,place_id,place_lat,place_lon,lat,lon,expanded_url,url
0,1,RT @cavs: #NBAFinals GAME 3 STARTERS:\r\n\r\n@...,0,0,False,False,1004531741216989191,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Ja comecou e eu no onibus https://t.co/wPgRLw...,0,0,False,False,1004531741422481409,NaN,"<a href=""http://twitter.com/download/android"" ...",False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://twitter.com/NBA/status/100447552030887...,https://t.co/wPgRLwdg1O
2,3,lets go Cavs\r\n#WhateverItTakes \r\n#NBAFinals,0,0,False,False,1004531741954981888,NaN,"<a href=""http://twitter.com/download/android"" ...",False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,RT @cavs: #NBAFinals GAME 3 STARTERS:\r\n\r\n@...,0,0,False,False,1004531743410573312,NaN,"<a href=""http://twitter.com/download/android"" ...",False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,RT @NBA: Count down @StephenCurry30's TOP 5 t...,0,0,False,False,1004531743272194048,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
len(tweets)

51425

In [18]:
tweets.columns

Index(['Unnamed: 0', 'text', 'retweet_count', 'favorite_count', 'favorited',
       'truncated', 'id_str', 'in_reply_to_screen_name', 'source', 'retweeted',
       'created_at', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str',
       'lang', 'listed_count', 'verified', 'location', 'user_id_str',
       'description', 'geo_enabled', 'user_created_at', 'statuses_count',
       'followers_count', 'favourites_count', 'protected', 'user_url', 'name',
       'time_zone', 'user_lang', 'utc_offset', 'friends_count', 'screen_name',
       'country_code', 'country', 'place_type', 'full_name', 'place_name',
       'place_id', 'place_lat', 'place_lon', 'lat', 'lon', 'expanded_url',
       'url'],
      dtype='object')

In [19]:
tweets = tweets.drop(columns=["Unnamed: 0", "utc_offset", "id_str", "url", "expanded_url", "user_id_str", "in_reply_to_screen_name", 
                             "in_reply_to_status_id_str", "in_reply_to_user_id_str"])

In [20]:
tweets.head()

,text,retweet_count,favorite_count,favorited,truncated,source,retweeted,created_at,lang,listed_count,...,country_code,country,place_type,full_name,place_name,place_id,place_lat,place_lon,lat,lon
0,RT @cavs: #NBAFinals GAME 3 STARTERS:\r\n\r\n@...,0,0,False,False,"<a href=""http://twitter.com/download/iphone"" r...",False,Thu Jun 07 01:13:25 +0000 2018,en,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ja comecou e eu no onibus https://t.co/wPgRLw...,0,0,False,False,"<a href=""http://twitter.com/download/android"" ...",False,Thu Jun 07 01:13:25 +0000 2018,pt,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,lets go Cavs\r\n#WhateverItTakes \r\n#NBAFinals,0,0,False,False,"<a href=""http://twitter.com/download/android"" ...",False,Thu Jun 07 01:13:25 +0000 2018,en,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RT @cavs: #NBAFinals GAME 3 STARTERS:\r\n\r\n@...,0,0,False,False,"<a href=""http://twitter.com/download/android"" ...",False,Thu Jun 07 01:13:25 +0000 2018,en,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RT @NBA: Count down @StephenCurry30's TOP 5 t...,0,0,False,False,"<a href=""http://twitter.com/download/iphone"" r...",False,Thu Jun 07 01:13:25 +0000 2018,en,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN