## Module 7 Class 1: Exploratory Data Analysis

In preparation for your final project, this notebook will allow you to explore an unseen data set with little starter code from us. We will provide a few guiding prompts to get you started, but we encourage you to investigate in any way you choose! As always, if you are stuck or don't know where to start, feel free to ask any of the teachers.

In [1]:
# Just run the following cell to load our favorite packages: Pandas and Matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Note about this line of code: We're telling matplotlib how to make our graphs look!
plt.style.use('ggplot')

Today, our exploration will focus on all-things-superheroes! Simply run the following cell to load one of the data sets you will be looking at today.

In [13]:
heroes = pd.read_csv("heroes_information.csv", index_col=0)
heroes.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [12]:
powers = pd.read_csv("super_hero_powers.csv")
powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Data Cleaning

In the real world, data is anything but clean. That is, we may not always have exactly what we need to achieve some task within data science. A large part of the data science lifecycle is cleaning the data that we are given. Within these two data sets, you may find that there are missing values for certain columns or some entries will seem completely wrong.

If you're stuck, try to accomplish the following tasks:
1. Remove all rows of the `heroes` table that have bizarre weights and heights associated to them. (HINT: can these columns be negative?)
2. Decide whether it is a good idea to remove all the superheroes that do not have a hair color associated to them.
3. Reduced both DataFrames to include only the supheroes who appear in `heroes` and `powers`.

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here! (Feel free to insert new cells if you need more!)

## Groupby and Join

Since we now should have two cleaned data sets to work with, we should put them to good use! Try and combine the two DataFrames `heroes` and `powers` into one, combined DataFrame called `supers`. Now, trying grouping any of your DataFrames by columns that seem interesting. Can we find differences between superheroes that are good and bad?

If you're stuck, try to accomplish the following tasks:
1. Combine `heroes` and `powers` into a new DataFrame called `supers`.
2. Create new DataFrames -- one for each publisher. Can you do any further investigation within each of these?
3. Find the publisher with the highest average number of powers per superhero. Which has the lowest?

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here! (Feel free to insert new cells if you need more!)

## Data Visualization

Think back to last week when we used the Python plotting package called `Matplotlib`. In data science, an effective visualization is crucial for getting the message across. Use some of the visualization techniques (line plots, histograms, bar charts, etc.) to convey information about the data that is not obvious simply by looking at the DataFrame.

If you're stuck, try thinking about the following ideas:
1. How do the distributions of height and weight for the **"good guys"** and **"bad guys"** compare. Are there significantly more heroes/villians that are taller than the other group?
2. Does eye color affect the number of powers that you have? What about skin color or hair color?
3. Create a bar chart of the top ten superhoes (choose your specific criteria!)

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here!

In [ ]:
# Explore the data here! (Feel free to insert new cells if you need more!)

That concludes your exploratory data analysis (EDA) on superheroes. Hopefully this gives you a better understanding of what to do for your final project! Feel free to return to this activity if you ever get stuck while working on your project.