# Module 6.1 Activity: DataFrames

Now that we have had more exposure to the types of operations we can do with DataFrames, let's dive right in! This notebook primarily focuses on DataFrames and how to interact with them.

In [1]:
#Just run the following cell to load the appropriate dependencies
import pandas as pd

candy_dict = {'Candy': ["Sour Patch Kids", "Skittles", "Snickers", "Candy Corn", "Starburst", "M&M’s"], 
              'Quantity': [14, 18, 22, 32, 6, 43],
             'Price': ["Expensive", "Cheap", "Cheap", "Expensive", "Expensive", "Cheap"]}

ranking_dict = {'Candy': ["Sour Patch Kids", "Skittles", "Snickers", "Candy Corn", "Starburst", "M&M’s"],
                'Ranking': [3,4,2,1,6,5]}

## Sample DataFrame

Consider the following DataFrame called `candy_jar`. It consists of a `Candy`, `Quantity`, and `Price` column.

In [2]:
candy_jar = ...
candy_jar

Ellipsis

**Question One:** How can we return a list of all candy names in our DataFrame?

In [5]:
names_of_candy = ...
list(names_of_candy)

TypeError: 'ellipsis' object is not iterable

**Question Two:** How can we return the information from the rows that would be indexed as 3 and 5?

In [6]:
reduced = ...
reduced

Ellipsis

**Question Three:** A thief broke into your house and stole 10 M&M’s from your candy jar! Write a code to calculate the amount of M&M’s remaining.

In [7]:
amount_left = ...
amount_left

Ellipsis

By a stroke of luck, your friend Oski recovered your missing M&M's! Now, you are back to the original amount (i.e. the current DataFrame should look identical to it did before).

**Question Four:** Your mom wanted to know many expensive candies there are without manually counting. How can you create a table that gives the count of both expensive and cheap candies?

In [8]:
price_df = ...
price_df

Ellipsis

Now, instead of her wanting to simply know how many candies of each price there were, she wants to know the **average quantity** of each price. A GroupBy function will be essential here. [https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html?highlight=groupby#computations-descriptive-stats].

In [9]:
average_quantity_df = ...
average_quantity_df

Ellipsis

**Question Five:** Suppose we have another table named `preference_rank` that contains a ranking of all the types of candy from our `candy_jar` table. How can we combine `candy_jar` and `preference_rank` into one, combined DataFrame called `combined`?

In [10]:
preference_rank = ...
preference_rank

Ellipsis

In [11]:
combined = ...
combined

Ellipsis

**Challenge Question:** How can you sort the `combined` DataFrame by `Ranking`? Can you get a list of the candy names in order of their ranking? Feel free to consult [https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values] if you are stuck!

In [13]:
sorted_df = ...
sorted_names = ...
list(sorted_names)

TypeError: 'ellipsis' object is not iterable