In [1]:
import pandas as pd
import numpy as np

In [2]:
soccer = pd.read_csv('soccer.csv')

Here's cool stuff you can do with Pandas! You don't need to know how to do all of this yet, but you'll learn how to do much of it by the end of this module!

In [3]:
soccer_grouped = soccer.groupby('Nationality')['Name'].count()

soccer_grouped

Nationality
Afghanistan      4
Albania         40
Algeria         60
Andorra          1
Angola          15
              ...
Uzbekistan       2
Venezuela       67
Wales          129
Zambia           9
Zimbabwe        13
Name: Name, Length: 164, dtype: int64

In [4]:
soccer['Dribbling'].median()

61.0

In [5]:
soccer.groupby('Club')['SprintSpeed'].mean().reset_index().sort_values('SprintSpeed', ascending = False)

                           Club  SprintSpeed
326                    Juventus    74.120000
428                         PSV    73.200000
86            Borussia Dortmund    73.060606
435         Paris Saint-Germain    72.633333
418          Olympique Lyonnais    72.482759
..                          ...          ...
361                 Limerick FC    57.789474
620                 Vissel Kobe    57.500000
300  Hokkaido Consadole Sapporo    56.896552
507              SV Mattersburg    56.615385
92               Bray Wanderers    52.869565

[651 rows x 2 columns]

Now, onto our lesson!

In [6]:
soccer.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Preferred Foot,International Reputation,Position,...,HeadingAccuracy,Dribbling,Curve,LongPassing,BallControl,SprintSpeed,Reactions,Stamina,Strength,GKReflexes
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,Left,5.0,RF,...,70.0,97.0,93.0,87.0,96.0,86.0,95.0,72.0,59.0,8.0
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,Right,5.0,ST,...,89.0,88.0,81.0,77.0,94.0,91.0,96.0,88.0,79.0,11.0
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,Right,5.0,LW,...,62.0,96.0,88.0,78.0,95.0,90.0,94.0,81.0,49.0,11.0
3,3,De Gea,27,Spain,91,93,Manchester United,Right,4.0,GK,...,21.0,18.0,21.0,51.0,42.0,58.0,90.0,43.0,64.0,94.0
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,Right,4.0,RCM,...,55.0,86.0,85.0,91.0,91.0,76.0,91.0,90.0,75.0,13.0

In [7]:
soccer.shape #shape is an attribute so we don't call it like a function

(18207, 21)

In [8]:
soccer.loc[1:3, ['Overall', 'Club']]

   Overall                 Club
1       94             Juventus
2       92  Paris Saint-Germain
3       91    Manchester United

In [9]:
soccer.loc[[100, 1000, 10000], 'Name']

100      Diego Costa
1000         A. Poli
10000    J. Haugaard
Name: Name, dtype: object

In [10]:
soccer.loc[soccer.Overall >= 80]

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Preferred Foot,International Reputation,Position,...,HeadingAccuracy,Dribbling,Curve,LongPassing,BallControl,SprintSpeed,Reactions,Stamina,Strength,GKReflexes
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,Left,5.0,RF,...,70.0,97.0,93.0,87.0,96.0,86.0,95.0,72.0,59.0,8.0
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,Right,5.0,ST,...,89.0,88.0,81.0,77.0,94.0,91.0,96.0,88.0,79.0,11.0
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,Right,5.0,LW,...,62.0,96.0,88.0,78.0,95.0,90.0,94.0,81.0,49.0,11.0
3,3,De Gea,27,Spain,91,93,Manchester United,Right,4.0,GK,...,21.0,18.0,21.0,51.0,42.0,58.0,90.0,43.0,64.0,94.0
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,Right,4.0,RCM,...,55.0,86.0,85.0,91.0,91.0,76.0,91.0,90.0,75.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,550,B. Schweinsteiger,33,Germany,80,80,Chicago Fire,Right,4.0,LCB,...,75.0,71.0,82.0,83.0,78.0,37.0,81.0,67.0,75.0,11.0
551,551,Moyá,34,Spain,80,80,Real Sociedad,Right,2.0,GK,...,12.0,13.0,16.0,35.0,24.0,34.0,74.0,30.0,57.0,79.0
552,552,W. Rooney,32,England,80,80,DC United,Right,4.0,ST,...,75.0,74.0,84.0,82.0,80.0,65.0,82.0,74.0,78.0,7.0
553,553,Fernando Torres,34,Spain,80,80,Sagan Tosu,Right,3.0,LS,...,77.0,80.0,80.0,51.0,79.0,78.0,73.0,60.0,72.0,10.0
554,554,S. Sorrentino,39,Italy,80,80,Chievo Verona,Right,2.0,GK,...,10.0,14.0,14.0,34.0,20.0,40.0,67.0,28.0,74.0,79.0

In [11]:
soccer.loc[soccer.Position == 'GK']

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Preferred Foot,International Reputation,Position,...,HeadingAccuracy,Dribbling,Curve,LongPassing,BallControl,SprintSpeed,Reactions,Stamina,Strength,GKReflexes
3,3,De Gea,27,Spain,91,93,Manchester United,Right,4.0,GK,...,21.0,18.0,21.0,51.0,42.0,58.0,90.0,43.0,64.0,94.0
9,9,J. Oblak,25,Slovenia,90,93,Atlético Madrid,Right,3.0,GK,...,15.0,12.0,13.0,26.0,16.0,60.0,86.0,41.0,78.0,89.0
18,18,M. ter Stegen,26,Germany,89,92,FC Barcelona,Right,3.0,GK,...,11.0,17.0,18.0,42.0,18.0,50.0,85.0,35.0,79.0,90.0
19,19,T. Courtois,26,Belgium,89,90,Real Madrid,Left,4.0,GK,...,13.0,13.0,19.0,35.0,23.0,52.0,84.0,38.0,70.0,88.0
22,22,M. Neuer,32,Germany,89,89,FC Bayern München,Right,5.0,GK,...,25.0,30.0,14.0,59.0,48.0,60.0,84.0,43.0,80.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18178,18178,L. Wahlstedt,18,Sweden,48,65,Dalkurd FF,Right,1.0,GK,...,11.0,8.0,10.0,20.0,12.0,28.0,40.0,20.0,38.0,51.0
18180,18180,M. Hurst,22,Scotland,48,58,St. Johnstone FC,Right,1.0,GK,...,15.0,13.0,12.0,19.0,25.0,42.0,47.0,33.0,58.0,45.0
18183,18183,K. Pilkington,44,England,48,48,Cambridge United,Right,1.0,GK,...,12.0,11.0,12.0,13.0,16.0,17.0,48.0,22.0,44.0,46.0
18194,18194,J. Milli,18,Italy,47,65,Lecce,Right,1.0,GK,...,10.0,12.0,13.0,20.0,17.0,14.0,37.0,15.0,59.0,44.0
18198,18198,J. Livesey,18,England,47,70,Burton Albion,Right,1.0,GK,...,14.0,10.0,13.0,21.0,11.0,24.0,36.0,20.0,38.0,48.0

In [12]:
soccer.loc[:, ['Age', 'Name', 'Potential']]

       Age                Name  Potential
0       31            L. Messi         94
1       33   Cristiano Ronaldo         94
2       26           Neymar Jr         93
3       27              De Gea         93
4       27        K. De Bruyne         92
...    ...                 ...        ...
18202   19        J. Lundstram         65
18203   19  N. Christoffersson         63
18204   16           B. Worman         67
18205   17      D. Walker-Rice         66
18206   16           G. Nugent         66

[18207 rows x 3 columns]

In [13]:
soccer.iloc[1:5,10:20] #row, column

,Finishing,HeadingAccuracy,Dribbling,Curve,LongPassing,BallControl,SprintSpeed,Reactions,Stamina,Strength
1,94.0,89.0,88.0,81.0,77.0,94.0,91.0,96.0,88.0,79.0
2,87.0,62.0,96.0,88.0,78.0,95.0,90.0,94.0,81.0,49.0
3,13.0,21.0,18.0,21.0,51.0,42.0,58.0,90.0,43.0,64.0
4,82.0,55.0,86.0,85.0,91.0,91.0,76.0,91.0,90.0,75.0

In [14]:
soccer.iloc[1:100,[0, 1, 2, 8]]

    Unnamed: 0               Name  Age  International Reputation
1            1  Cristiano Ronaldo   33                       5.0
2            2          Neymar Jr   26                       5.0
3            3             De Gea   27                       4.0
4            4       K. De Bruyne   27                       4.0
5            5          E. Hazard   27                       4.0
..         ...                ...  ...                       ...
95          95         J. Boateng   29                       4.0
96          96           A. Vidal   31                       4.0
97          97         I. Perišić   29                       3.0
98          98           E. Džeko   32                       3.0
99          99         S. Khedira   31                       3.0

[99 rows x 4 columns]